<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css.map" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>اضافة مهمة جديدة</title>
  </head>
  <body>
    <form class="imaged-form">
      <div>
        <label>ادخل المهمة الجديدة</label>
        <input type="text" class="note" autofocus required />
      </div>
      <div>
        <button type="button" class="img-upload">ارفق الصورة</button>
      </div>
      <div class="url-image">
        <label>او ادخل رابط الصورة</label>
        <input type="url" class="url-image__input" />
      </div>
      <button type="submit">
        <i class="fas fa-plus"></i>
        اضافة مهمة
      </button>
    </form>
    <script src="../assets/js/imagedScript.js"></script>
  </body>
</html>
