<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css.map" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>اضافة مهمة جديدة</title>
  </head>
  <body>
    <form class="normal-form">
      <div>
        <label>ادخل المهمة الجديدة</label>
        <input type="text" id="task" autofocus required />
      </div>
      <button type="submit">
        <i class="fas fa-plus"></i>
        اضافة مهمة
      </button>
    </form>
    <script src="../assets/js/normalScript.js"></script>
  </body>
</html>
